<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtsmIcOVpPwCMg_3gD4wJovVjuGGf_MoI</string>
	<key>GCM_SENDER_ID</key>
	<string>536643017513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messageApp</string>
	<key>PROJECT_ID</key>
	<string>messageme-app-9b73e</string>
	<key>STORAGE_BUCKET</key>
	<string>messageme-app-9b73e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536643017513:ios:3e7a88fe2fa4e26bd57538</string>
</dict>
</plist>